<script>
    const menuBtn = document.getElementById('menuBtn');
    const mobileMenu = document.getElementById('mobileMenu');
    const iconMenu = document.getElementById('iconMenu');
    const iconClose = document.getElementById('iconClose');

    menuBtn.addEventListener('click', () => {
        const isHidden = mobileMenu.classList.toggle('hidden');
        if (isHidden) {
            iconMenu.classList.replace('scale-50', 'scale-100');
            iconMenu.classList.replace('rotate-90', 'rotate-0');
            iconMenu.classList.replace('opacity-0', 'opacity-100');
            iconClose.classList.replace('scale-100', 'scale-50');
            iconClose.classList.replace('rotate-0', '-rotate-90');
            iconClose.classList.replace('opacity-100', 'opacity-0');
        } else {
            iconMenu.classList.replace('scale-100', 'scale-50');
            iconMenu.classList.replace('rotate-0', 'rotate-90');
            iconMenu.classList.replace('opacity-100', 'opacity-0');
            iconClose.classList.replace('scale-50', 'scale-100');
            iconClose.classList.replace('-rotate-90', 'rotate-0');
            iconClose.classList.replace('opacity-0', 'opacity-100');
        }
    });
</script>
